:root {
  /* Neutral Colors */
  --color-neutral-900: rgb(3, 1, 45);
  --color-neutral-800: rgb(39, 37, 65);
  --color-neutral-700: rgb(49, 47, 75);
  --color-neutral-600: rgb(61, 59, 94);
  --color-neutral-300: rgb(174, 174, 183);
  --color-neutral-200: rgb(213, 212, 217);
  --color-neutral-0: rgb(255, 255, 255);

  /* Orange Colors */
  --color-orange-500: rgb(255, 124, 10);

  /* Blue Colors */
  --color-blue-500: rgb(68, 85, 218);
  --color-blue-700: rgb(45, 28, 156);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: none;
}
body{
    background-color: var(--color-neutral-900);
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    color: var(--color-neutral-0);
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
}
.units-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutral-700);
    padding: 0px 10px;
    gap: 8px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.logo{
    width: 160px;
}
.units-btn p{
    color: var(--color-neutral-200);
    font-size: 16px;
}

.welcome{
    margin-top: 50px;
}
.welcome h1{
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
}
.search{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin-top: 40px;
}
.search-input{
    font-weight: 600px;
    font-size: 18px;
    border-radius: 12px;
    padding: 15px 20px;
    padding-left: 50px;
    background-color: var(--color-neutral-600);
    border: none;
    color: var(--color-neutral-0);
}
.search-input::placeholder {
  color: var(--color-neutral-200);
}
.search img{
    position: absolute;
    top: 14px;
    left: 18px;
}
.search button{
    padding: 15px 20px;
    background-color: var(--color-blue-500);
    color: var(--color-neutral-200);
    font-weight: 600px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
}

/*OVERVIEW*/
.overview{
    background-image: url('/assets/images/bg-today-small.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px;
    margin-top: 39px;
    border-radius: 20px;
}
.wi-city{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.wi-date{
    color: var(--color-neutral-200);
    font-size: 18px;
    font-weight: 500;
}
.city-date{
    text-align: center;
}
.wi-weather-temp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}
.overview-temp{
    font-size: 92px;
    font-style: italic;
    font-weight: 600;
}
.wi-img{
    width: 140px;
}

/*MINAMAL STATS*/
.min-stats{
    margin-top: 20px;
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
}
.min-stats div{
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-neutral-700);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 20px;
    border-radius: 20px;
}
.ms-header{
    font-size: 20px;
    color: var(--color-neutral-200);
}
.ms-info{
    font-size: 42px;
    font-weight: 400;
}
.min-stats span{
    color: var(--color-neutral-300);
}

/*FORECAST*/
.forecast{
    margin-top: 40px;
}
.forecast-info{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 20px;
}
.forecast-day{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-neutral-700);
    height: 170px;
}
.forecast-img{
    width: 70px;
}
.forecast-temp{
    display: flex;
    gap: 29px;
    justify-content: space-between;
}
.forecast-weekday{
    font-size: 18px;
}
.forecast-temp-evening{
    color: var(--color-neutral-300);
}

/*hourly-forecast*/
.weather-info-aside{
    margin-top: 30px;
    background-color: var(--color-neutral-800);
    padding: 20px 20px;
    border-radius: 15px;
}
.hourly-forecast-div{
    display: flex;
    justify-content: space-between;
}
.hourly-forecast{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hourly-forecast-div h2{
    font-weight: 600;
}
.hourly-forecast-div button{
    background-color: var(--color-neutral-600);
    color: var(--color-neutral-200);
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: 600;
}
.hourly-forecast-info{
    background-color: var(--color-neutral-700);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid rgba(174, 174, 183, 0.103);
}
.hfi-lhs{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hfi-lhs img{
    width: 50px;
}